.container-footer {
  background-color: #15161e;
  background-image: url(./assets/images/footer/mask_group.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 370px 0 40px 0;
  .container-contact-us {
    color: #FDFDFD;
    .title {
      font-size: 34px;
      font-weight: 800;
      line-height: 40px;
    }
    .container-content {
      font-size: 28px;
      line-height: 40px;
      font-weight: 400;
      .content {
        padding: 5px 0;
        .icon {
          width: 10%;
        }
        .info {
          width: 90%;
          a {
            color: #FDFDFD;
          }
        }
      }
    }
  }
  .container-footer-bottom {
    margin-top: 50px;
    border-top: 0.5px solid #424657;
    .footer-bottom {
      padding-top: 30px;
      .mobile {
        display: none;
      }
    }
  }
  .copyright {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    color: #FDFDFD;
    float: right;
  }
  .container-move-top {
    display: none;
    flex-wrap: wrap;
    width: 50px;
    position: fixed;
    bottom: 52px;
    right: 25px;
    z-index: 99;
    -webkit-transition: background-color .3s,opacity .5s,visibility .5s;
    -o-transition: background-color .3s,opacity .5s,visibility .5s;
    transition: background-color .3s,opacity .5s,visibility .5s;
    opacity: 1;
    visibility: visible;
    cursor: pointer;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    img {
      width: 30px;
      height: auto;
      margin-bottom: 2px;
    }
    p {
      display: block;
      letter-spacing: 1px;
      text-align: center;
      font-size: 20px;
      color: #fff;
      white-space: nowrap;
    }
  }
  .show {
    display: flex;
  }
}
@media screen and (max-width: 767px) {
  .container-footer {
    padding: 300px 0 0 0;
    .logo-footer {
      margin-bottom: 20px;
      max-width: 140px;
    }
    .container-contact-us {
      .title {
        font-size: 18px;
        line-height: 21px;
        font-weight: 800;
      }
      .container-content {
        font-size: 16px;
        line-height: 23px;
        font-weight: 400;
        .content {
          margin-left: 0;
        }
      }
    }
    .container-footer-bottom {
      border-top: 0.5px solid #222330;
      .footer-bottom {
        padding-top: 10px;
        .custom-last-item {
          margin-top: 10px;
        }
        .desktop {
          display: none;
        }
        .mobile {
          display: flex;
          padding: 20px 0;
        }
      }
    }
    .copyright {
      border-top: 0.5px solid #222330;
      float: unset;
      padding: 10px 0 0 0;
      font-size: 13px;
      line-height: 28px;
      font-weight: 400;
      letter-spacing: 2px;
    }
    .container-move-top {
      p {
        font-size: 17px;
      }
      img {
        width: 25px;
      }
    }
  }
}
